/* Global Styles for Mini Program */
page, view, scroll-view, text, image {
  box-sizing: border-box;
}

page {
  background-color: #f6f6f6;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
}
